<h1>Dashboard</h1>

<h2 class="mt-5">Device Usage</h2>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Total</th>
      <th>Assigned</th>
      <th>Available</th>
    </tr>
  </thead>

  <tbody>
    <% @category.each do |c| %>
      <tr>
        <td><%= c.name %></td>
        <td><%=@total=Device.where(category_id: c.id).count %></td> <!--Same as c.devices.count-->
        <td><%=@taken=Device.where.not(employee_id: nil).where(category_id: c.id).count%></td> <!--Question to ask: How many devices have a foreign key for employees that also have the current category id? I initially had where.(employee_id: present?) however this didn't work as expected and I am not exactly sure why.-->
        <td><%=@total-@taken%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2 class="mt-5">Software Compliance</h2>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>License Count</th>
      <th>Employee Count</th>
      <th>Compliant?</th>
    </tr>
  </thead>
  <tbody>
    <% @software.each do |s| %>
      <tr>
        <td><%= s.name %></td>
        <td><%=@total_licenses=s.license_count%></td>
        <td><%=@employee_usage=s.employees.count=%></td>
        <td><%=(@total_licenses-@employee_usage) >= 0? 'True' : 'False' %></td>
      </tr>

    <% end %>
  </tbody>
</table>
