<div id="<%= dom_id device %>">
  <p>
  <strong>Name:</strong>
  <%= device.name %>
  </p>

  <p>
  <strong>Manufacturer:</strong>
  <%@manufacturer=Manufacturer.find(device.manufacturer_id)%>
  <%=@manufacturer.name%>
  </p>

  <p>
  <strong>Category:</strong>
  <%@category=Category.find(device.category_id)%>
  <%=@category.name%>
  </p>

  <p>
  <strong>Assigned To:</strong>
  <% if device.employee.present? %>
    <% @employee_name= device.employee.full_name%>
    <% @employee_id= Employee.where(first_name: device.employee.first_name, last_name: device.employee.last_name).pluck(:id) %>
    <a href= "<%=employee_path(@employee_id)%>"><%=@employee_name%></a>
  <%end%>
  </p>
</div>
