<div class="card my-3 p-3">
  <div id="<%= dom_id device %>">
    <p>
      <strong>Name:</strong>
      <%= device.name %>
    </p>

    <p>
      <strong>Manufacturer:</strong>
    </p>

    <p>
      <strong>Category:</strong>
    </p>

    <p>
      <strong>Assigned To:</strong>
      <% @employee_name= device.employee.full_name%>
      <% @employee_id= Employee.where(first_name: device.employee.first_name, last_name: device.employee.last_name).pluck(:id) %>
      <a href= "<%=employee_path(@employee_id)%>"><%=@employee_name%></a>
    </p>
    <%= link_to "Show this device", device %>
  </div>
</div>
